@keyframes typeAnimation {
    0%{content: '|';}
    2%{content: 'L|';}
    4%{content: 'La|';}
    6%{content: 'Lar|';}
    8%{content: 'Larr|';}
    10%{content: 'Larry|';}
    12%{content: 'Larry D|';}
    14%{content: 'Larry Da|';}
    16%{content: 'Larry Dan|';}
    18%{content: 'Larry Dani|';}
    20%{content: 'Larry Danie|';}
    22%{content: 'Larry Daniel|';}
    24%{content: 'Larry Daniels|';}
    26%{content: 'Larry Daniel|';}
    28%{content: 'Larry Dani|';}
    30%{content: 'Larry Dan|';}
    32%{content: 'Larry Da|';}
    34%{content: 'Larry D|';}
    36%{content: 'Larr|';}
    38%{content: 'Lar|';}
    40%{content: 'La|';}
    42%{content: 'L|';}
    44%{content: 'D|';}
    46%{content: 'De|';}
    48%{content: 'Dev|';}
    50%{content: 'Devel|';}
    52%{content: 'Develo|';}
    54%{content: 'Develop|';}
    56%{content: 'Develope|';}
    58%{content: 'Developer|';}
    60%{content: 'Develope|';}
    62%{content: 'Develop|';}
    64%{content: 'Develo|';}
    66%{content: 'Devel|';}
    68%{content: 'Deve|';}
    70%{content: 'Dev|';}
    72%{content: 'De|';}
    74%{content: 'De|';}
    76%{content: 'Des|';}
    78%{content: 'Desi|';}
    80%{content: 'Design|';}
    82%{content: 'Designe|';}
    84%{content: 'Designer|';}
    86%{content: 'Designe|';}
    88%{content: 'Design|';}
    90%{content: 'Desi|';}
    92%{content: 'Des|';}
    94%{content: 'De|';}
    96%{content: 'D|';}
    100%{content: '|';}
}